@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Test email-s tag helper</h1>
    <address>
        <strong>Support:</strong>
        <email email-name="dima_beel" email-domain="mail.ru"/>
        <br />
        <strong>Marketing:</strong>
        <email email-name="dima.beel.dima" email-domain="gmail.com"/>
    </address>
</div>
